.parallax {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  h1 {
    font-size: 100px;
  }
  .mountains {
    background-image: url("mountains.png");
    background-position: bottom;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
  }
  .planets {
    background-image: url("planets.png");
    background-position: bottom;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
  }
  .stars {
    background-image: url("stars.png");
    background-position: bottom;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }
}
