.hero {
  height: calc(100vh - 100px);
  background: linear-gradient(180deg, 0c0c1d, 111132);
  position: relative;
  overflow: hidden;
  .wrapper {
    max-width: 1366px;
    margin: auto;
    height: 100%;
    .textContainer {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      width: 50%;

      h2 {
        font-size: 30px;
        color: rebeccapurple;
        letter-spacing: 5px;
      }
      h1 {
        font-size: 78px;
      }
      img {
        width: 50px;
      }
      .buttons {
        button {
          padding: 20px;
          background: transparent;
          border: 1px solid white;
          color: white;
          margin-right: 20px;
          border-radius: 10px;
          font-weight: 300;
          font-size: 18px;
        }
      }
    }
  }
  .imageContainer {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  .slideText {
    font-size: 50vh;
    color: white;
    position: absolute;
    bottom: -120px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
  }
}
